In [1]:
print("Data Preprocessing")

Data Preprocessing

In [2]:
import pandas as pd

In [3]:
data = pd.read_excel("MainDataPranav.xlsx")

In [4]:
data

,Date/time,Airtemp,Rel.Hum,Day length durati,LeafWetness durati,Rain,Radiation mean,W.Speed mean,Day length hrs.,leaf wetness hr.,Disease
0,2003-08-12,25.7,76.0,4500.0,1500.0,0.0,3.0,0.0,1.25,0.42,Girdle beetle
1,2003-08-13,24.1,83.0,40800.0,51600.0,0.2,186.0,0.1,11.33,14.33,"Bacterial leaf spot, Rhizopusrot"
2,2003-08-14,24.5,83.0,42900.0,40800.0,0.6,196.0,0.1,11.92,11.33,"Bacterial leaf spot, Rhizopusrot"
3,2003-08-15,23.4,85.0,42300.0,41100.0,1.2,131.0,0.1,11.75,11.42,Rhizopusrot
4,2003-08-16,25.0,78.0,42600.0,30600.0,0.0,259.0,0.1,11.83,8.50,Girdle beetle
...,...,...,...,...,...,...,...,...,...,...,...
3515,2013-03-27,28.4,40.0,64800.0,237600.0,0.0,NaN,NaN,10.90,10.90,No disease
3516,2013-03-28,27.3,54.0,86400.0,306000.0,1.0,NaN,NaN,11.00,11.00,Rhizopusrot
3517,2013-03-29,27.5,48.0,79200.0,302400.0,0.4,NaN,NaN,11.30,11.30,Rhizopusrot
3518,2013-03-30,26.2,40.0,57600.0,262800.0,0.0,NaN,NaN,11.40,11.40,No disease
3519,2013-03-31,27.4,46.0,75600.0,273600.0,0.0,NaN,NaN,11.30,11.30,Powdery mildew

In [5]:
data.describe()

,Date/time,Airtemp,Rel.Hum,Day length durati,LeafWetness durati,Rain,Radiation mean,W.Speed mean,Day length hrs.,leaf wetness hr.
count,3520,3520.000000,3520.000000,3520.000000,3520.000000,3520.000000,3092.000000,3092.000000,3428.000000,3367.000000
mean,2008-06-05 12:00:00,24.289318,70.215852,36603.219187,16555.002991,1.411364,151.546572,0.316527,13.792525,4.160562
min,2003-08-12 00:00:00,13.400000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2006-01-07 18:00:00,22.100000,58.000000,35400.000000,0.000000,0.000000,110.000000,0.100000,9.920000,0.000000
50%,2008-06-05 12:00:00,24.500000,71.000000,38700.000000,1850.000000,0.000000,153.000000,0.200000,10.830000,1.200000
75%,2010-11-02 06:00:00,26.300000,85.000000,41400.000000,28200.000000,0.200000,199.000000,0.400000,11.670000,7.920000
max,2013-03-31 00:00:00,33.200000,100.000000,97200.000000,360000.000000,74.000000,294.000000,2.900000,150.000000,24.000000
std,NaN,3.465272,17.530688,10451.248351,29787.658549,5.659741,62.097247,0.400528,17.649741,5.273106

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3520 entries, 0 to 3519
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/time           3520 non-null   datetime64[ns]
 1   Airtemp             3520 non-null   float64
 2   Rel.Hum             3520 non-null   float64
 3   Day length durati   3520 non-null   float64
 4   LeafWetness durati  3520 non-null   float64
 5   Rain                3520 non-null   float64
 6   Radiation mean      3092 non-null   float64
 7   W.Speed mean        3092 non-null   float64
 8   Day length hrs.     3428 non-null   float64
 9   leaf wetness hr.    3367 non-null   float64
 10  Disease             3520 non-null   object
dtypes: datetime64[ns](1), float64(9), object(1)
memory usage: 302.6+ KB

In [7]:
data.columns

Index(['Date/time', 'Airtemp', 'Rel.Hum', 'Day length durati',
       'LeafWetness durati', 'Rain', 'Radiation mean', 'W.Speed mean',
       'Day length hrs.', 'leaf wetness hr.', 'Disease'],
      dtype='object')

In [8]:
# Selecting specific columns
data = data.loc[:, ['Airtemp', 'Rel.Hum', 'Rain','leaf wetness hr.','Radiation mean', 'Disease']]


data

,Airtemp,Rel.Hum,Rain,leaf wetness hr.,Radiation mean,Disease
0,25.7,76.0,0.0,0.42,3.0,Girdle beetle
1,24.1,83.0,0.2,14.33,186.0,"Bacterial leaf spot, Rhizopusrot"
2,24.5,83.0,0.6,11.33,196.0,"Bacterial leaf spot, Rhizopusrot"
3,23.4,85.0,1.2,11.42,131.0,Rhizopusrot
4,25.0,78.0,0.0,8.50,259.0,Girdle beetle
...,...,...,...,...,...,...
3515,28.4,40.0,0.0,10.90,NaN,No disease
3516,27.3,54.0,1.0,11.00,NaN,Rhizopusrot
3517,27.5,48.0,0.4,11.30,NaN,Rhizopusrot
3518,26.2,40.0,0.0,11.40,NaN,No disease
3519,27.4,46.0,0.0,11.30,NaN,Powdery mildew

In [9]:
# Renaming the columns
data = data.rename(columns={
    'Airtemp mean': 'Temperature',
    'Rel.Hum mean': 'Humidity',
    'Rain': 'Rainfall',
    'Radiation mean' : 'Radiation',
    'leaf wetness hr.': 'Leaf_wetness_Hours',
    'Disease': 'Disease'
})

data

,Airtemp,Rel.Hum,Rainfall,Leaf_wetness_Hours,Radiation,Disease
0,25.7,76.0,0.0,0.42,3.0,Girdle beetle
1,24.1,83.0,0.2,14.33,186.0,"Bacterial leaf spot, Rhizopusrot"
2,24.5,83.0,0.6,11.33,196.0,"Bacterial leaf spot, Rhizopusrot"
3,23.4,85.0,1.2,11.42,131.0,Rhizopusrot
4,25.0,78.0,0.0,8.50,259.0,Girdle beetle
...,...,...,...,...,...,...
3515,28.4,40.0,0.0,10.90,NaN,No disease
3516,27.3,54.0,1.0,11.00,NaN,Rhizopusrot
3517,27.5,48.0,0.4,11.30,NaN,Rhizopusrot
3518,26.2,40.0,0.0,11.40,NaN,No disease
3519,27.4,46.0,0.0,11.30,NaN,Powdery mildew

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3520 entries, 0 to 3519
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Airtemp             3520 non-null   float64
 1   Rel.Hum             3520 non-null   float64
 2   Rainfall            3520 non-null   float64
 3   Leaf_wetness_Hours  3367 non-null   float64
 4   Radiation           3092 non-null   float64
 5   Disease             3520 non-null   object
dtypes: float64(5), object(1)
memory usage: 165.1+ KB

In [11]:
data.isna().sum()

Airtemp                 0
Rel.Hum                 0
Rainfall                0
Leaf_wetness_Hours    153
Radiation             428
Disease                 0
dtype: int64

In [12]:
data.columns

Index(['Airtemp', 'Rel.Hum', 'Rainfall', 'Leaf_wetness_Hours', 'Radiation',
       'Disease'],
      dtype='object')

In [13]:

unique_counts = data['Leaf_wetness_Hours'].value_counts()
print(unique_counts)
unique_counts.shape

Leaf_wetness_Hours
0.00     1402
0.30       25
0.08       25
0.17       23
9.75       22
         ...
19.75       1
14.83       1
13.50       1
16.83       1
11.40       1
Name: count, Length: 298, dtype: int64

(298,)

In [14]:
mode = data['Leaf_wetness_Hours'].mode()[0]
mode

0.0

In [15]:
data['Leaf_wetness_Hours'].fillna(mode, inplace=True)

In [16]:
data.isna().sum()

Airtemp                 0
Rel.Hum                 0
Rainfall                0
Leaf_wetness_Hours      0
Radiation             428
Disease                 0
dtype: int64

In [17]:
unique_counts = data['Radiation'].value_counts()
print(unique_counts)
unique_counts.shape

Radiation
11.0     61
193.0    30
10.0     29
124.0    28
131.0    27
         ..
23.0      1
282.0     1
287.0     1
24.0      1
3.0       1
Name: count, Length: 277, dtype: int64

(277,)

In [18]:
data.describe()

           Airtemp      Rel.Hum     Rainfall  Leaf_wetness_Hours    Radiation
count  3520.000000  3520.000000  3520.000000          3520.00000  3092.000000
mean     24.289318    70.215852     1.411364             3.97972   151.546572
std       3.465272    17.530688     5.659741             5.22653    62.097247
min      13.400000    17.000000     0.000000             0.00000     0.000000
25%      22.100000    58.000000     0.000000             0.00000   110.000000
50%      24.500000    71.000000     0.000000             0.70000   153.000000
75%      26.300000    85.000000     0.200000             7.67000   199.000000
max      33.200000   100.000000    74.000000            24.00000   294.000000

In [19]:
mean = data['Radiation'].mean()
mean

151.54657179818886

In [20]:
data['Radiation'].fillna(mean, inplace=True)

In [21]:
data

,Airtemp,Rel.Hum,Rainfall,Leaf_wetness_Hours,Radiation,Disease
0,25.7,76.0,0.0,0.42,3.000000,Girdle beetle
1,24.1,83.0,0.2,14.33,186.000000,"Bacterial leaf spot, Rhizopusrot"
2,24.5,83.0,0.6,11.33,196.000000,"Bacterial leaf spot, Rhizopusrot"
3,23.4,85.0,1.2,11.42,131.000000,Rhizopusrot
4,25.0,78.0,0.0,8.50,259.000000,Girdle beetle
...,...,...,...,...,...,...
3515,28.4,40.0,0.0,10.90,151.546572,No disease
3516,27.3,54.0,1.0,11.00,151.546572,Rhizopusrot
3517,27.5,48.0,0.4,11.30,151.546572,Rhizopusrot
3518,26.2,40.0,0.0,11.40,151.546572,No disease
3519,27.4,46.0,0.0,11.30,151.546572,Powdery mildew

In [22]:
data.describe()

           Airtemp      Rel.Hum     Rainfall  Leaf_wetness_Hours    Radiation
count  3520.000000  3520.000000  3520.000000          3520.00000  3520.000000
mean     24.289318    70.215852     1.411364             3.97972   151.546572
std       3.465272    17.530688     5.659741             5.22653    58.198557
min      13.400000    17.000000     0.000000             0.00000     0.000000
25%      22.100000    58.000000     0.000000             0.00000   116.000000
50%      24.500000    71.000000     0.000000             0.70000   151.546572
75%      26.300000    85.000000     0.200000             7.67000   193.000000
max      33.200000   100.000000    74.000000            24.00000   294.000000

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3520 entries, 0 to 3519
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Airtemp             3520 non-null   float64
 1   Rel.Hum             3520 non-null   float64
 2   Rainfall            3520 non-null   float64
 3   Leaf_wetness_Hours  3520 non-null   float64
 4   Radiation           3520 non-null   float64
 5   Disease             3520 non-null   object
dtypes: float64(5), object(1)
memory usage: 165.1+ KB

In [24]:
data['Disease']

0                          Girdle beetle
1       Bacterial leaf spot, Rhizopusrot
2       Bacterial leaf spot, Rhizopusrot
3                            Rhizopusrot
4                          Girdle beetle
                      ...
3515                          No disease
3516                         Rhizopusrot
3517                         Rhizopusrot
3518                          No disease
3519                      Powdery mildew
Name: Disease, Length: 3520, dtype: object

In [25]:
data['Disease']

0                          Girdle beetle
1       Bacterial leaf spot, Rhizopusrot
2       Bacterial leaf spot, Rhizopusrot
3                            Rhizopusrot
4                          Girdle beetle
                      ...
3515                          No disease
3516                         Rhizopusrot
3517                         Rhizopusrot
3518                          No disease
3519                      Powdery mildew
Name: Disease, Length: 3520, dtype: object

In [26]:
data

,Airtemp,Rel.Hum,Rainfall,Leaf_wetness_Hours,Radiation,Disease
0,25.7,76.0,0.0,0.42,3.000000,Girdle beetle
1,24.1,83.0,0.2,14.33,186.000000,"Bacterial leaf spot, Rhizopusrot"
2,24.5,83.0,0.6,11.33,196.000000,"Bacterial leaf spot, Rhizopusrot"
3,23.4,85.0,1.2,11.42,131.000000,Rhizopusrot
4,25.0,78.0,0.0,8.50,259.000000,Girdle beetle
...,...,...,...,...,...,...
3515,28.4,40.0,0.0,10.90,151.546572,No disease
3516,27.3,54.0,1.0,11.00,151.546572,Rhizopusrot
3517,27.5,48.0,0.4,11.30,151.546572,Rhizopusrot
3518,26.2,40.0,0.0,11.40,151.546572,No disease
3519,27.4,46.0,0.0,11.30,151.546572,Powdery mildew

In [27]:
# Get the value of the first entry in the 'Disease' column
disease_value = data['Disease'][0]

# Create a list containing the single value
disease_list = [disease_value]

# Display the resulting list
print(disease_list)

['Girdle beetle']

In [28]:
data['Disease']

0                          Girdle beetle
1       Bacterial leaf spot, Rhizopusrot
2       Bacterial leaf spot, Rhizopusrot
3                            Rhizopusrot
4                          Girdle beetle
                      ...
3515                          No disease
3516                         Rhizopusrot
3517                         Rhizopusrot
3518                          No disease
3519                      Powdery mildew
Name: Disease, Length: 3520, dtype: object

In [29]:

data['newD'] = [disease.split(', ') for disease in data['Disease']]

In [30]:
unique_diseases = set()  # set

for item in data['newD']:
    for d in item:
        unique_diseases.add(d) 

print(unique_diseases)

{'Downy mildew', 'Alternariablight', 'Powdery mildew', 'No disease', 'Bacterial leaf spot', 'Rhizopusrot', 'Girdle beetle'}

In [31]:
data['Bacterial leaf spot']=0
data['Alternariablight']=0
data['Powdery mildew']=0
data['Rhizopusrot']=0
data['Downy mildew']=0
data['Girdle beetle']=0

In [32]:
data

,Airtemp,Rel.Hum,Rainfall,Leaf_wetness_Hours,Radiation,Disease,newD,Bacterial leaf spot,Alternariablight,Powdery mildew,Rhizopusrot,Downy mildew,Girdle beetle
0,25.7,76.0,0.0,0.42,3.000000,Girdle beetle,[Girdle beetle],0,0,0,0,0,0
1,24.1,83.0,0.2,14.33,186.000000,"Bacterial leaf spot, Rhizopusrot","[Bacterial leaf spot, Rhizopusrot]",0,0,0,0,0,0
2,24.5,83.0,0.6,11.33,196.000000,"Bacterial leaf spot, Rhizopusrot","[Bacterial leaf spot, Rhizopusrot]",0,0,0,0,0,0
3,23.4,85.0,1.2,11.42,131.000000,Rhizopusrot,[Rhizopusrot],0,0,0,0,0,0
4,25.0,78.0,0.0,8.50,259.000000,Girdle beetle,[Girdle beetle],0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3515,28.4,40.0,0.0,10.90,151.546572,No disease,[No disease],0,0,0,0,0,0
3516,27.3,54.0,1.0,11.00,151.546572,Rhizopusrot,[Rhizopusrot],0,0,0,0,0,0
3517,27.5,48.0,0.4,11.30,151.546572,Rhizopusrot,[Rhizopusrot],0,0,0,0,0,0
3518,26.2,40.0,0.0,11.40,151.546572,No disease,[No disease],0,0,0,0,0,0
3519,27.4,46.0,0.0,11.30,151.546572,Powdery mildew,[Powdery mildew],0,0,0,0,0,0

In [33]:
# for item in data['newD']:
#     for d in item:
#         print(d)

#         if d == 'Bacterial leaf spot'
#             data['Bacterial leaf spot'] == 1

# for i in range(3520 ):
#     item = data['newD'][i]
#     for d in item:
#         if d == 'Bacterial leaf spot':
#             data['Bacterial leaf spot'][i] = 1
#         if d == 'Alternariablight':
#             data['Alternariablight'][i] = 1
#         if d == 'Girdle beetle':
#             data['Girdle beetle'][i] = 1
#         if d == 'Girdle beetle':
#             data['Girdle beetle'][i] = 1
#         if d == 'Girdle beetle':
#             data['Girdle beetle'][i] = 1
#         if d == 'Girdle beetle':
#             data['Girdle beetle'][i] = 1
#         if d == 'Girdle beetle':
#             data['Girdle beetle'][i] = 1



diseases = ['Bacterial leaf spot', 'Girdle beetle', 'Powdery mildew', 'Rhizopusrot', 'Downy mildew', 'Alternariablight']


for disease in diseases:
    data[disease] = 0
    for i in range(3520):
        item = data['newD'][i]
        if disease in item:
            data.loc[i, disease] = 1

In [34]:
data

,Airtemp,Rel.Hum,Rainfall,Leaf_wetness_Hours,Radiation,Disease,newD,Bacterial leaf spot,Alternariablight,Powdery mildew,Rhizopusrot,Downy mildew,Girdle beetle
0,25.7,76.0,0.0,0.42,3.000000,Girdle beetle,[Girdle beetle],0,0,0,0,0,1
1,24.1,83.0,0.2,14.33,186.000000,"Bacterial leaf spot, Rhizopusrot","[Bacterial leaf spot, Rhizopusrot]",1,0,0,1,0,0
2,24.5,83.0,0.6,11.33,196.000000,"Bacterial leaf spot, Rhizopusrot","[Bacterial leaf spot, Rhizopusrot]",1,0,0,1,0,0
3,23.4,85.0,1.2,11.42,131.000000,Rhizopusrot,[Rhizopusrot],0,0,0,1,0,0
4,25.0,78.0,0.0,8.50,259.000000,Girdle beetle,[Girdle beetle],0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3515,28.4,40.0,0.0,10.90,151.546572,No disease,[No disease],0,0,0,0,0,0
3516,27.3,54.0,1.0,11.00,151.546572,Rhizopusrot,[Rhizopusrot],0,0,0,1,0,0
3517,27.5,48.0,0.4,11.30,151.546572,Rhizopusrot,[Rhizopusrot],0,0,0,1,0,0
3518,26.2,40.0,0.0,11.40,151.546572,No disease,[No disease],0,0,0,0,0,0
3519,27.4,46.0,0.0,11.30,151.546572,Powdery mildew,[Powdery mildew],0,0,1,0,0,0

In [35]:
data.columns

Index(['Airtemp', 'Rel.Hum', 'Rainfall', 'Leaf_wetness_Hours', 'Radiation',
       'Disease', 'newD', 'Bacterial leaf spot', 'Alternariablight',
       'Powdery mildew', 'Rhizopusrot', 'Downy mildew', 'Girdle beetle'],
      dtype='object')

In [36]:
new_data = data.drop(columns=['Disease', 'newD'])

In [37]:
new_data

,Airtemp,Rel.Hum,Rainfall,Leaf_wetness_Hours,Radiation,Bacterial leaf spot,Alternariablight,Powdery mildew,Rhizopusrot,Downy mildew,Girdle beetle
0,25.7,76.0,0.0,0.42,3.000000,0,0,0,0,0,1
1,24.1,83.0,0.2,14.33,186.000000,1,0,0,1,0,0
2,24.5,83.0,0.6,11.33,196.000000,1,0,0,1,0,0
3,23.4,85.0,1.2,11.42,131.000000,0,0,0,1,0,0
4,25.0,78.0,0.0,8.50,259.000000,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
3515,28.4,40.0,0.0,10.90,151.546572,0,0,0,0,0,0
3516,27.3,54.0,1.0,11.00,151.546572,0,0,0,1,0,0
3517,27.5,48.0,0.4,11.30,151.546572,0,0,0,1,0,0
3518,26.2,40.0,0.0,11.40,151.546572,0,0,0,0,0,0
3519,27.4,46.0,0.0,11.30,151.546572,0,0,1,0,0,0

In [38]:
new_data.to_csv('FinalDataNew.csv', index=False)

In [39]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3520 entries, 0 to 3519
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Airtemp              3520 non-null   float64
 1   Rel.Hum              3520 non-null   float64
 2   Rainfall             3520 non-null   float64
 3   Leaf_wetness_Hours   3520 non-null   float64
 4   Radiation            3520 non-null   float64
 5   Bacterial leaf spot  3520 non-null   int64
 6   Alternariablight     3520 non-null   int64
 7   Powdery mildew       3520 non-null   int64
 8   Rhizopusrot          3520 non-null   int64
 9   Downy mildew         3520 non-null   int64
 10  Girdle beetle        3520 non-null   int64
dtypes: float64(5), int64(6)
memory usage: 302.6 KB