In [86]:
print("Data Preprocessing")

Data Preprocessing

In [87]:
import pandas as pd

In [88]:
data = pd.read_excel("MainDataPranav.xlsx")

In [89]:
data

,Date/time,Airtemp min,Airtemp max,Airtemp mean,Rel.Hum min,Rel.Hum max,Rel.Hum mean,Day length durati,LeafWetness durati,Rain,Radiation mean,W.Speed mean,Day length hrs.,leaf wetness hr.,Disease
0,2003-08-12,22.8,27.7,25.7,69.0,87,76.0,4500.0,1500.0,0.0,3.0,0.0,1.25,0.42,Girdle beetle
1,2003-08-13,19.6,30.1,24.1,63.0,99,83.0,40800.0,51600.0,0.2,186.0,0.1,11.33,14.33,"Bacterial leaf spot, Rhizopusrot"
2,2003-08-14,20.8,29.6,24.5,67.0,97,83.0,42900.0,40800.0,0.6,196.0,0.1,11.92,11.33,"Bacterial leaf spot, Rhizopusrot"
3,2003-08-15,19.7,29.0,23.4,67.0,98,85.0,42300.0,41100.0,1.2,131.0,0.1,11.75,11.42,Rhizopusrot
4,2003-08-16,20.4,31.6,25.0,56.0,99,78.0,42600.0,30600.0,0.0,259.0,0.1,11.83,8.50,Girdle beetle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3515,2013-03-27,18.3,37.8,28.4,18.0,66,40.0,64800.0,237600.0,0.0,NaN,NaN,10.90,10.90,No disease
3516,2013-03-28,18.1,36.6,27.3,24.0,85,54.0,86400.0,306000.0,1.0,NaN,NaN,11.00,11.00,Rhizopusrot
3517,2013-03-29,18.9,36.4,27.5,22.0,84,48.0,79200.0,302400.0,0.4,NaN,NaN,11.30,11.30,Rhizopusrot
3518,2013-03-30,15.1,37.7,26.2,16.0,73,40.0,57600.0,262800.0,0.0,NaN,NaN,11.40,11.40,No disease
3519,2013-03-31,16.5,38.3,27.4,21.0,76,46.0,75600.0,273600.0,0.0,NaN,NaN,11.30,11.30,Powdery mildew

In [90]:
data.describe()

,Date/time,Airtemp min,Airtemp max,Airtemp mean,Rel.Hum min,Rel.Hum max,Rel.Hum mean,Day length durati,LeafWetness durati,Rain,Radiation mean,W.Speed mean,Day length hrs.,leaf wetness hr.
count,3520,3520.000000,3520.000000,3520.000000,3520.000000,3520.000000,3520.000000,3520.000000,3520.000000,3520.000000,3092.000000,3092.000000,3428.000000,3367.000000
mean,2008-06-05 12:00:00,17.294261,32.667443,24.289318,43.667926,92.973295,70.215852,36603.219187,16555.002991,1.411364,151.546572,0.316527,13.792525,4.160562
min,2003-08-12 00:00:00,1.800000,14.800000,13.400000,7.000000,28.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2006-01-07 18:00:00,12.800000,30.000000,22.100000,26.000000,89.000000,58.000000,35400.000000,0.000000,0.000000,110.000000,0.100000,9.920000,0.000000
50%,2008-06-05 12:00:00,19.000000,32.100000,24.500000,39.000000,100.000000,71.000000,38700.000000,1850.000000,0.000000,153.000000,0.200000,10.830000,1.200000
75%,2010-11-02 06:00:00,21.700000,35.500000,26.300000,61.000000,100.000000,85.000000,41400.000000,28200.000000,0.200000,199.000000,0.400000,11.670000,7.920000
max,2013-03-31 00:00:00,29.800000,55.800000,33.200000,100.000000,100.000000,100.000000,97200.000000,360000.000000,74.000000,294.000000,2.900000,150.000000,24.000000
std,NaN,5.275873,3.832984,3.465272,22.010150,11.571706,17.530688,10451.248351,29787.658549,5.659741,62.097247,0.400528,17.649741,5.273106

In [91]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3520 entries, 0 to 3519
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/time           3520 non-null   datetime64[ns]
 1   Airtemp min         3520 non-null   float64
 2   Airtemp max         3520 non-null   float64
 3   Airtemp mean        3520 non-null   float64
 4   Rel.Hum min         3520 non-null   float64
 5   Rel.Hum max         3520 non-null   int64
 6   Rel.Hum mean        3520 non-null   float64
 7   Day length durati   3520 non-null   float64
 8   LeafWetness durati  3520 non-null   float64
 9   Rain                3520 non-null   float64
 10  Radiation mean      3092 non-null   float64
 11  W.Speed mean        3092 non-null   float64
 12  Day length hrs.     3428 non-null   float64
 13  leaf wetness hr.    3367 non-null   float64
 14  Disease             3520 non-null   object
dtypes: datetime64[ns](1), float64(12), int64(1), object(1)
memory usage: 412.6+ KB

In [92]:
data.columns

Index(['Date/time', 'Airtemp min', 'Airtemp max', 'Airtemp mean',
       'Rel.Hum min', 'Rel.Hum max', 'Rel.Hum mean', 'Day length durati',
       'LeafWetness durati', 'Rain', 'Radiation mean', 'W.Speed mean',
       'Day length hrs.', 'leaf wetness hr.', 'Disease'],
      dtype='object')

In [93]:
# Selecting specific columns
data = data.loc[:, ['Airtemp mean', 'Rel.Hum mean', 'Rain','leaf wetness hr.', 'Disease']]


data

,Airtemp mean,Rel.Hum mean,Rain,leaf wetness hr.,Disease
0,25.7,76.0,0.0,0.42,Girdle beetle
1,24.1,83.0,0.2,14.33,"Bacterial leaf spot, Rhizopusrot"
2,24.5,83.0,0.6,11.33,"Bacterial leaf spot, Rhizopusrot"
3,23.4,85.0,1.2,11.42,Rhizopusrot
4,25.0,78.0,0.0,8.50,Girdle beetle
...,...,...,...,...,...
3515,28.4,40.0,0.0,10.90,No disease
3516,27.3,54.0,1.0,11.00,Rhizopusrot
3517,27.5,48.0,0.4,11.30,Rhizopusrot
3518,26.2,40.0,0.0,11.40,No disease
3519,27.4,46.0,0.0,11.30,Powdery mildew

In [94]:
# Renaming the columns
data = data.rename(columns={
    'Airtemp mean': 'Temperature',
    'Rel.Hum mean': 'Humidity',
    'Rain': 'Rainfall',
    'leaf wetness hr.': 'Leaf wetness Hours',
    'Disease': 'Disease'
})

data

,Temperature,Humidity,Rainfall,Leaf wetness Hours,Disease
0,25.7,76.0,0.0,0.42,Girdle beetle
1,24.1,83.0,0.2,14.33,"Bacterial leaf spot, Rhizopusrot"
2,24.5,83.0,0.6,11.33,"Bacterial leaf spot, Rhizopusrot"
3,23.4,85.0,1.2,11.42,Rhizopusrot
4,25.0,78.0,0.0,8.50,Girdle beetle
...,...,...,...,...,...
3515,28.4,40.0,0.0,10.90,No disease
3516,27.3,54.0,1.0,11.00,Rhizopusrot
3517,27.5,48.0,0.4,11.30,Rhizopusrot
3518,26.2,40.0,0.0,11.40,No disease
3519,27.4,46.0,0.0,11.30,Powdery mildew

In [95]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3520 entries, 0 to 3519
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Temperature         3520 non-null   float64
 1   Humidity            3520 non-null   float64
 2   Rainfall            3520 non-null   float64
 3   Leaf wetness Hours  3367 non-null   float64
 4   Disease             3520 non-null   object
dtypes: float64(4), object(1)
memory usage: 137.6+ KB

In [96]:
data.isna().sum()

Temperature             0
Humidity                0
Rainfall                0
Leaf wetness Hours    153
Disease                 0
dtype: int64

In [97]:
data.columns

Index(['Temperature', 'Humidity', 'Rainfall', 'Leaf wetness Hours', 'Disease'], dtype='object')

In [98]:

unique_counts = data['Leaf wetness Hours'].value_counts()
print(unique_counts)
unique_counts.shape

Leaf wetness Hours
0.00     1402
0.30       25
0.08       25
0.17       23
9.75       22
         ...
19.75       1
14.83       1
13.50       1
16.83       1
11.40       1
Name: count, Length: 298, dtype: int64

(298,)

In [99]:
mode = data['Leaf wetness Hours'].mode()[0]
mode

0.0

In [100]:
data['Leaf wetness Hours'].fillna(mode, inplace=True)

In [101]:
data.isna().sum()

Temperature           0
Humidity              0
Rainfall              0
Leaf wetness Hours    0
Disease               0
dtype: int64

In [102]:
data

,Temperature,Humidity,Rainfall,Leaf wetness Hours,Disease
0,25.7,76.0,0.0,0.42,Girdle beetle
1,24.1,83.0,0.2,14.33,"Bacterial leaf spot, Rhizopusrot"
2,24.5,83.0,0.6,11.33,"Bacterial leaf spot, Rhizopusrot"
3,23.4,85.0,1.2,11.42,Rhizopusrot
4,25.0,78.0,0.0,8.50,Girdle beetle
...,...,...,...,...,...
3515,28.4,40.0,0.0,10.90,No disease
3516,27.3,54.0,1.0,11.00,Rhizopusrot
3517,27.5,48.0,0.4,11.30,Rhizopusrot
3518,26.2,40.0,0.0,11.40,No disease
3519,27.4,46.0,0.0,11.30,Powdery mildew

In [103]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3520 entries, 0 to 3519
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Temperature         3520 non-null   float64
 1   Humidity            3520 non-null   float64
 2   Rainfall            3520 non-null   float64
 3   Leaf wetness Hours  3520 non-null   float64
 4   Disease             3520 non-null   object
dtypes: float64(4), object(1)
memory usage: 137.6+ KB

In [104]:
data['Disease']

0                          Girdle beetle
1       Bacterial leaf spot, Rhizopusrot
2       Bacterial leaf spot, Rhizopusrot
3                            Rhizopusrot
4                          Girdle beetle
                      ...
3515                          No disease
3516                         Rhizopusrot
3517                         Rhizopusrot
3518                          No disease
3519                      Powdery mildew
Name: Disease, Length: 3520, dtype: object

In [105]:
data['Disease']

0                          Girdle beetle
1       Bacterial leaf spot, Rhizopusrot
2       Bacterial leaf spot, Rhizopusrot
3                            Rhizopusrot
4                          Girdle beetle
                      ...
3515                          No disease
3516                         Rhizopusrot
3517                         Rhizopusrot
3518                          No disease
3519                      Powdery mildew
Name: Disease, Length: 3520, dtype: object

In [106]:
data

,Temperature,Humidity,Rainfall,Leaf wetness Hours,Disease
0,25.7,76.0,0.0,0.42,Girdle beetle
1,24.1,83.0,0.2,14.33,"Bacterial leaf spot, Rhizopusrot"
2,24.5,83.0,0.6,11.33,"Bacterial leaf spot, Rhizopusrot"
3,23.4,85.0,1.2,11.42,Rhizopusrot
4,25.0,78.0,0.0,8.50,Girdle beetle
...,...,...,...,...,...
3515,28.4,40.0,0.0,10.90,No disease
3516,27.3,54.0,1.0,11.00,Rhizopusrot
3517,27.5,48.0,0.4,11.30,Rhizopusrot
3518,26.2,40.0,0.0,11.40,No disease
3519,27.4,46.0,0.0,11.30,Powdery mildew

In [107]:
# Get the value of the first entry in the 'Disease' column
disease_value = data['Disease'][0]

# Create a list containing the single value
disease_list = [disease_value]

# Display the resulting list
print(disease_list)

['Girdle beetle']

In [108]:
data['Disease']

0                          Girdle beetle
1       Bacterial leaf spot, Rhizopusrot
2       Bacterial leaf spot, Rhizopusrot
3                            Rhizopusrot
4                          Girdle beetle
                      ...
3515                          No disease
3516                         Rhizopusrot
3517                         Rhizopusrot
3518                          No disease
3519                      Powdery mildew
Name: Disease, Length: 3520, dtype: object

In [109]:

data['newD'] = [disease.split(', ') for disease in data['Disease']]

In [110]:
unique_diseases = set()  # set

for item in data['newD']:
    for d in item:
        unique_diseases.add(d) 

print(unique_diseases)

{'No disease', 'Alternariablight', 'Girdle beetle', 'Powdery mildew', 'Bacterial leaf spot', 'Rhizopusrot', 'Downy mildew'}

In [111]:
data['Bacterial leaf spot']=0
data['Alternariablight']=0
data['Powdery mildew']=0
data['Rhizopusrot']=0
data['Downy mildew']=0
data['Girdle beetle']=0

In [112]:
data

,Temperature,Humidity,Rainfall,Leaf wetness Hours,Disease,newD,Bacterial leaf spot,Alternariablight,Powdery mildew,Rhizopusrot,Downy mildew,Girdle beetle
0,25.7,76.0,0.0,0.42,Girdle beetle,[Girdle beetle],0,0,0,0,0,0
1,24.1,83.0,0.2,14.33,"Bacterial leaf spot, Rhizopusrot","[Bacterial leaf spot, Rhizopusrot]",0,0,0,0,0,0
2,24.5,83.0,0.6,11.33,"Bacterial leaf spot, Rhizopusrot","[Bacterial leaf spot, Rhizopusrot]",0,0,0,0,0,0
3,23.4,85.0,1.2,11.42,Rhizopusrot,[Rhizopusrot],0,0,0,0,0,0
4,25.0,78.0,0.0,8.50,Girdle beetle,[Girdle beetle],0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3515,28.4,40.0,0.0,10.90,No disease,[No disease],0,0,0,0,0,0
3516,27.3,54.0,1.0,11.00,Rhizopusrot,[Rhizopusrot],0,0,0,0,0,0
3517,27.5,48.0,0.4,11.30,Rhizopusrot,[Rhizopusrot],0,0,0,0,0,0
3518,26.2,40.0,0.0,11.40,No disease,[No disease],0,0,0,0,0,0
3519,27.4,46.0,0.0,11.30,Powdery mildew,[Powdery mildew],0,0,0,0,0,0

In [113]:
# for item in data['newD']:
#     for d in item:
#         print(d)

#         if d == 'Bacterial leaf spot'
#             data['Bacterial leaf spot'] == 1

# for i in range(3520 ):
#     item = data['newD'][i]
#     for d in item:
#         if d == 'Bacterial leaf spot':
#             data['Bacterial leaf spot'][i] = 1
#         if d == 'Alternariablight':
#             data['Alternariablight'][i] = 1
#         if d == 'Girdle beetle':
#             data['Girdle beetle'][i] = 1
#         if d == 'Girdle beetle':
#             data['Girdle beetle'][i] = 1
#         if d == 'Girdle beetle':
#             data['Girdle beetle'][i] = 1
#         if d == 'Girdle beetle':
#             data['Girdle beetle'][i] = 1
#         if d == 'Girdle beetle':
#             data['Girdle beetle'][i] = 1



diseases = ['Bacterial leaf spot', 'Girdle beetle', 'Powdery mildew', 'Rhizopusrot', 'Downy mildew', 'Alternariablight']


for disease in diseases:
    data[disease] = 0
    for i in range(3520):
        item = data['newD'][i]
        if disease in item:
            data.loc[i, disease] = 1

In [114]:
data

,Temperature,Humidity,Rainfall,Leaf wetness Hours,Disease,newD,Bacterial leaf spot,Alternariablight,Powdery mildew,Rhizopusrot,Downy mildew,Girdle beetle
0,25.7,76.0,0.0,0.42,Girdle beetle,[Girdle beetle],0,0,0,0,0,1
1,24.1,83.0,0.2,14.33,"Bacterial leaf spot, Rhizopusrot","[Bacterial leaf spot, Rhizopusrot]",1,0,0,1,0,0
2,24.5,83.0,0.6,11.33,"Bacterial leaf spot, Rhizopusrot","[Bacterial leaf spot, Rhizopusrot]",1,0,0,1,0,0
3,23.4,85.0,1.2,11.42,Rhizopusrot,[Rhizopusrot],0,0,0,1,0,0
4,25.0,78.0,0.0,8.50,Girdle beetle,[Girdle beetle],0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3515,28.4,40.0,0.0,10.90,No disease,[No disease],0,0,0,0,0,0
3516,27.3,54.0,1.0,11.00,Rhizopusrot,[Rhizopusrot],0,0,0,1,0,0
3517,27.5,48.0,0.4,11.30,Rhizopusrot,[Rhizopusrot],0,0,0,1,0,0
3518,26.2,40.0,0.0,11.40,No disease,[No disease],0,0,0,0,0,0
3519,27.4,46.0,0.0,11.30,Powdery mildew,[Powdery mildew],0,0,1,0,0,0

In [115]:
data.columns

Index(['Temperature', 'Humidity', 'Rainfall', 'Leaf wetness Hours', 'Disease',
       'newD', 'Bacterial leaf spot', 'Alternariablight', 'Powdery mildew',
       'Rhizopusrot', 'Downy mildew', 'Girdle beetle'],
      dtype='object')

In [116]:
new_data = data.drop(columns=['Disease', 'newD'])

In [117]:
new_data

,Temperature,Humidity,Rainfall,Leaf wetness Hours,Bacterial leaf spot,Alternariablight,Powdery mildew,Rhizopusrot,Downy mildew,Girdle beetle
0,25.7,76.0,0.0,0.42,0,0,0,0,0,1
1,24.1,83.0,0.2,14.33,1,0,0,1,0,0
2,24.5,83.0,0.6,11.33,1,0,0,1,0,0
3,23.4,85.0,1.2,11.42,0,0,0,1,0,0
4,25.0,78.0,0.0,8.50,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
3515,28.4,40.0,0.0,10.90,0,0,0,0,0,0
3516,27.3,54.0,1.0,11.00,0,0,0,1,0,0
3517,27.5,48.0,0.4,11.30,0,0,0,1,0,0
3518,26.2,40.0,0.0,11.40,0,0,0,0,0,0
3519,27.4,46.0,0.0,11.30,0,0,1,0,0,0

In [118]:
new_data.to_csv('FinalData.csv', index=False)

In [120]:
new_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3520 entries, 0 to 3519
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Temperature          3520 non-null   float64
 1   Humidity             3520 non-null   float64
 2   Rainfall             3520 non-null   float64
 3   Leaf wetness Hours   3520 non-null   float64
 4   Bacterial leaf spot  3520 non-null   int64
 5   Alternariablight     3520 non-null   int64
 6   Powdery mildew       3520 non-null   int64
 7   Rhizopusrot          3520 non-null   int64
 8   Downy mildew         3520 non-null   int64
 9   Girdle beetle        3520 non-null   int64
dtypes: float64(4), int64(6)
memory usage: 275.1 KB