In [2]:
print("Data Preprocessing")

Data Preprocessing

In [1]:
import pandas as pd

In [11]:
data = pd.read_excel("MainDataPranav.xlsx")

In [14]:
data.shape

(3521, 14)

In [16]:
data.describe()

,Date/time,Airtemp min,Airtemp max,Airtemp mean,Rel.Hum min,Rel.Hum max,Rel.Hum mean,Day length durati,LeafWetness durati,Rain,Radiation mean,W.Speed mean,Day length hrs.,leaf wetness hr.
count,3520,3520.000000,3520.000000,3520.000000,3520.000000,3520.000000,3520.000000,3520.000000,3520.000000,3521.000000,3092.000000,3092.000000,3428.000000,3367.000000
mean,2008-06-05 12:00:00,17.294261,32.667443,24.289318,43.667926,92.973295,70.215852,36603.219187,16555.002991,1.556944,151.546572,0.316527,13.792525,4.160562
min,2003-08-12 00:00:00,1.800000,14.800000,13.400000,7.000000,28.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2006-01-07 18:00:00,12.800000,30.000000,22.100000,26.000000,89.000000,58.000000,35400.000000,0.000000,0.000000,110.000000,0.100000,9.920000,0.000000
50%,2008-06-05 12:00:00,19.000000,32.100000,24.500000,39.000000,100.000000,71.000000,38700.000000,1850.000000,0.000000,153.000000,0.200000,10.830000,1.200000
75%,2010-11-02 06:00:00,21.700000,35.500000,26.300000,61.000000,100.000000,85.000000,41400.000000,28200.000000,0.200000,199.000000,0.400000,11.670000,7.920000
max,2013-03-31 00:00:00,29.800000,55.800000,33.200000,100.000000,100.000000,100.000000,97200.000000,360000.000000,514.000000,294.000000,2.900000,150.000000,24.000000
std,NaN,5.275873,3.832984,3.465272,22.010150,11.571706,17.530688,10451.248351,29787.658549,10.326976,62.097247,0.400528,17.649741,5.273106

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3521 entries, 0 to 3520
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/time           3520 non-null   datetime64[ns]
 1   Airtemp min         3520 non-null   float64
 2   Airtemp max         3520 non-null   float64
 3   Airtemp mean        3520 non-null   float64
 4   Rel.Hum min         3520 non-null   float64
 5   Rel.Hum max         3520 non-null   float64
 6   Rel.Hum mean        3520 non-null   float64
 7   Day length durati   3520 non-null   float64
 8   LeafWetness durati  3520 non-null   float64
 9   Rain                3521 non-null   float64
 10  Radiation mean      3092 non-null   float64
 11  W.Speed mean        3092 non-null   float64
 12  Day length hrs.     3428 non-null   float64
 13  leaf wetness hr.    3367 non-null   float64
dtypes: datetime64[ns](1), float64(13)
memory usage: 385.2 KB