In [2]:
print("Linear Regression")

Linear Regression

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_excel("Data7Pranav.xlsx")

In [5]:
data.head()

,Airtemp,Rel.Hum,Rain,W.Speed,leaf wetness hr.,Bacterial leaf spot,Downy mildew,Powdery mildew,Alternariablight,Rhizopusrot,Girdle beetle,Normal Condition
0,25.7,76.0,0.0,0.0,0.42,0,0,0,0,0,1,0
1,24.1,83.0,0.2,0.1,14.33,1,0,0,0,0,0,0
2,24.5,83.0,0.6,0.1,11.33,1,0,0,0,0,0,1
3,23.4,85.0,1.2,0.1,11.42,0,0,0,0,0,0,0
4,25.0,78.0,0.0,0.1,8.50,0,0,0,0,0,1,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3520 entries, 0 to 3519
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Airtemp              3520 non-null   float64
 1   Rel.Hum              3520 non-null   float64
 2   Rain                 3520 non-null   float64
 3   W.Speed              3520 non-null   float64
 4   leaf wetness hr.     3520 non-null   float64
 5   Bacterial leaf spot  3520 non-null   int64
 6   Downy mildew         3520 non-null   int64
 7   Powdery mildew       3520 non-null   int64
 8   Alternariablight     3520 non-null   int64
 9   Rhizopusrot          3520 non-null   int64
 10  Girdle beetle        3520 non-null   int64
 11  Normal Condition     3520 non-null   int64
dtypes: float64(5), int64(7)
memory usage: 330.1 KB

In [9]:
# data.describe()
# data.value_counts()

In [10]:
data.columns

Index(['Airtemp', 'Rel.Hum', 'Rain', 'W.Speed', 'leaf wetness hr.',
       'Bacterial leaf spot', 'Downy mildew', 'Powdery mildew',
       'Alternariablight', 'Rhizopusrot', 'Girdle beetle', 'Normal Condition'],
      dtype='object')

In [11]:
X = data[['Airtemp', 'Rel.Hum', 'Rain', 'W.Speed', 'leaf wetness hr.']]
y = data[['Bacterial leaf spot', 'Downy mildew', 'Powdery mildew', 'Alternariablight', 'Rhizopusrot', 'Girdle beetle', 'Normal Condition']]

In [13]:
X.head()

   Airtemp  Rel.Hum  Rain  W.Speed  leaf wetness hr.
0     25.7     76.0   0.0      0.0              0.42
1     24.1     83.0   0.2      0.1             14.33
2     24.5     83.0   0.6      0.1             11.33
3     23.4     85.0   1.2      0.1             11.42
4     25.0     78.0   0.0      0.1              8.50

In [14]:
y.head()

,Bacterial leaf spot,Downy mildew,Powdery mildew,Alternariablight,Rhizopusrot,Girdle beetle,Normal Condition
0,0,0,0,0,0,1,0
1,1,0,0,0,0,0,0
2,1,0,0,0,0,0,1
3,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
models = {}
for column in y.columns:
    model = LinearRegression()
    model.fit(X_train, y_train[column])
    models[column] = model

In [18]:
from sklearn.metrics import mean_squared_error

In [19]:
for column, model in models.items():
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test[column], y_pred)
    print(f"Mean Squared Error for {column}: {mse}")

Mean Squared Error for Bacterial leaf spot: 0.1056887162119442
Mean Squared Error for Downy mildew: 0.03678270672191495
Mean Squared Error for Powdery mildew: 0.011330015992376388
Mean Squared Error for Alternariablight: 0.05036899930818448
Mean Squared Error for Rhizopusrot: 0.034449348182111476
Mean Squared Error for Girdle beetle: 0.18005811326149362
Mean Squared Error for Normal Condition: 0.10595981184158353

In [20]:
from sklearn.metrics import mean_squared_error, r2_score