In [22]:
print("Data Preprocessing")

Data Preprocessing

In [23]:
import pandas as pd

In [24]:
data = pd.read_excel("MainDataPranav.xlsx")

In [25]:
data.shape

(3520, 14)

In [26]:
data.describe()

,Date/time,Airtemp min,Airtemp max,Airtemp mean,Rel.Hum min,Rel.Hum max,Rel.Hum mean,Day length durati,LeafWetness durati,Rain,Radiation mean,W.Speed mean,Day length hrs.,leaf wetness hr.
count,3520,3520.000000,3520.000000,3520.000000,3520.000000,3520.000000,3520.000000,3520.000000,3520.000000,3520.000000,3092.000000,3092.000000,3428.000000,3367.000000
mean,2008-06-05 12:00:00,17.294261,32.667443,24.289318,43.667926,92.973295,70.215852,36603.219187,16555.002991,1.411364,151.546572,0.316527,13.792525,4.160562
min,2003-08-12 00:00:00,1.800000,14.800000,13.400000,7.000000,28.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2006-01-07 18:00:00,12.800000,30.000000,22.100000,26.000000,89.000000,58.000000,35400.000000,0.000000,0.000000,110.000000,0.100000,9.920000,0.000000
50%,2008-06-05 12:00:00,19.000000,32.100000,24.500000,39.000000,100.000000,71.000000,38700.000000,1850.000000,0.000000,153.000000,0.200000,10.830000,1.200000
75%,2010-11-02 06:00:00,21.700000,35.500000,26.300000,61.000000,100.000000,85.000000,41400.000000,28200.000000,0.200000,199.000000,0.400000,11.670000,7.920000
max,2013-03-31 00:00:00,29.800000,55.800000,33.200000,100.000000,100.000000,100.000000,97200.000000,360000.000000,74.000000,294.000000,2.900000,150.000000,24.000000
std,NaN,5.275873,3.832984,3.465272,22.010150,11.571706,17.530688,10451.248351,29787.658549,5.659741,62.097247,0.400528,17.649741,5.273106

In [27]:
data.head()

,Date/time,Airtemp min,Airtemp max,Airtemp mean,Rel.Hum min,Rel.Hum max,Rel.Hum mean,Day length durati,LeafWetness durati,Rain,Radiation mean,W.Speed mean,Day length hrs.,leaf wetness hr.
0,2003-08-12,22.8,27.7,25.7,69.0,87,76.0,4500.0,1500.0,0.0,3.0,0.0,1.25,0.42
1,2003-08-13,19.6,30.1,24.1,63.0,99,83.0,40800.0,51600.0,0.2,186.0,0.1,11.33,14.33
2,2003-08-14,20.8,29.6,24.5,67.0,97,83.0,42900.0,40800.0,0.6,196.0,0.1,11.92,11.33
3,2003-08-15,19.7,29.0,23.4,67.0,98,85.0,42300.0,41100.0,1.2,131.0,0.1,11.75,11.42
4,2003-08-16,20.4,31.6,25.0,56.0,99,78.0,42600.0,30600.0,0.0,259.0,0.1,11.83,8.50

In [28]:
data.columns

Index(['Date/time', 'Airtemp min', 'Airtemp max', 'Airtemp mean',
       'Rel.Hum min', 'Rel.Hum max', 'Rel.Hum mean', 'Day length durati',
       'LeafWetness durati', 'Rain', 'Radiation mean', 'W.Speed mean',
       'Day length hrs.', 'leaf wetness hr.'],
      dtype='object')

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3520 entries, 0 to 3519
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/time           3520 non-null   datetime64[ns]
 1   Airtemp min         3520 non-null   float64
 2   Airtemp max         3520 non-null   float64
 3   Airtemp mean        3520 non-null   float64
 4   Rel.Hum min         3520 non-null   float64
 5   Rel.Hum max         3520 non-null   int64
 6   Rel.Hum mean        3520 non-null   float64
 7   Day length durati   3520 non-null   float64
 8   LeafWetness durati  3520 non-null   float64
 9   Rain                3520 non-null   float64
 10  Radiation mean      3092 non-null   float64
 11  W.Speed mean        3092 non-null   float64
 12  Day length hrs.     3428 non-null   float64
 13  leaf wetness hr.    3367 non-null   float64
dtypes: datetime64[ns](1), float64(12), int64(1)
memory usage: 385.1 KB

In [30]:
data.columns

Index(['Date/time', 'Airtemp min', 'Airtemp max', 'Airtemp mean',
       'Rel.Hum min', 'Rel.Hum max', 'Rel.Hum mean', 'Day length durati',
       'LeafWetness durati', 'Rain', 'Radiation mean', 'W.Speed mean',
       'Day length hrs.', 'leaf wetness hr.'],
      dtype='object')

In [33]:
data.isna().sum()

Date/time               0
Airtemp min             0
Airtemp max             0
Airtemp mean            0
Rel.Hum min             0
Rel.Hum max             0
Rel.Hum mean            0
Day length durati       0
LeafWetness durati      0
Rain                    0
Radiation mean        428
W.Speed mean          428
Day length hrs.        92
leaf wetness hr.      153
dtype: int64

In [ ]:
data['Radiation mean'].value_counts()